# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Variables d'environnement
.env
.env.local

# VSCode
.vscode/

# Tests
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db
